<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>notas</h1>
    <div id = notas></div>
    <script>
        fetch("/api/notas") 
        .then(function(respuesta){
          return respuesta.json()
        })

        .then(function(data){
            
            var notas = document.getElementById("notas")
            for(var nota of data){
                notas.innerHTML = notas.innerHTML + `<div class="notas">
                        <p class="name">${nota.con_nota}</p>
                        <p>${nota.f_inicio}</p>
                        <p>${nota.f_fin}</p>
                        <p>${nota.tipo_tarea}</p>
                        
                    </div>`
            }
        
        })

    </script>
</body>
</html>